 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600&display=swap');


body{
    background: url(./assets/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* text-align: center; */
}

a{
    list-style: none;
}

ul{
    list-style-type: none;
}

.caret {
   font-size: 1rem;
   display: inline-block;
}

.caret.active{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.catching-text{
    background: linear-gradient(90deg, lightblue, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.buy{
    border: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: #41424c;
    border-radius: 3px;
    color: white;
}

.cart{
    font-size: 1.1rem;
}

.desc{
    display: block;
    padding-left: 1rem;
}

.price {
    padding-left: 1rem;
}

.dropdown{
    margin: auto;
    text-align: end;
}

.dropdown.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

.features{
    margin-top: 5rem;
    padding: 0 5%;
    text-align: center;
}

.feature{
    margin-bottom: 3rem;
}

.feature-h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}

.feature-icon{
    font-size: 5rem;
    margin-top: auto;
}

.feature-p{
    font-family: 'Montserrat', sans-serif;
    margin-top: .5rem;
}

.para{
    margin-bottom: 3rem;
}

.para-h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.para-p{
    margin-top: .5rem;
    font-family: 'Montserrat', sans-serif;
}

#first{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

#first-img{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.first-section{
    width: 90%;
    margin: 2rem auto;
    margin-top: -2rem;
}

.foot-slider{
    z-index: 3000;
    margin-bottom: auto;
}

.second-section{
    width: 90%;
    margin: 2rem auto;
}

#second-img{
    display: none;
    width: 30rem;
    background-size: cover;
    background-position: center;
}

.hamburger{
    padding: 0.5rem 1rem 1rem 1rem;
    width: 5%;
    font-size: 40px;
    color: white;
    position: absolute;
    cursor: pointer;
    z-index: 2001;
}

.head{
    width: 100%;
    background: transparent;
    z-index: 10;
}

.header{
    width: 100%;
}

.hero-p{
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.hero-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 3rem;
}

.hero-header{
    font-weight: 800;
    font-size: 2.7rem;
}

.hero-header-two{
    font-weight: 800;
    font-size: 2rem;
}

.hero-text-two{
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5rem;
}

.link{
    text-decoration: inherit;
    color: inherit;
}

.log{
    display: none;
    width: 50%;
    text-align: end;
}

.logo{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-weight: bolder;
}

.main-section{
    width: 100%;
    position: relative;
    display: inline-block;
    background:transparent;
    align-content: center;
    padding-top: 100px;
}

.market-info{
    background-color: #333;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.mini{
    transition: 0.5s linear;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 10px 6px -6px #333;
    -moz-box-shadow: 0 10px 6px -6px #333;
    box-shadow: 0 10px 6px -6px #333;
    display: none;
}

.mini .active{
    transition: 0.5s linear;
    display: block;
}

.mini li{
    cursor: pointer;
}

.nav-item{
    margin-bottom: 1rem;
}

.pop-box{
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pop-up{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
}

.pop-box{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#prev-btn, #next-btn{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn{
    border-right: 40px solid grey;
    left: -50px;
}

.nav-link{
    font-size: 1.3rem;
}

#next-btn{
    border-left: 40px solid grey;
    right: -90px;
}

#loader{
    background: url(./assets/load.gif) no-repeat center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.product{
    background-color: white;
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: left;
}

.product-container{
    padding-top: 2%;
    margin: auto;
    text-align: center;
}

.product-img{
    text-align: center;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-section{
    margin: 0px auto;
}

.search{
    display: inline-block;
}

.side-navigation{
    height:100vh;
    width: 40%;
    position: fixed;
    margin-left: -250px;
    background: url(./assets/menu.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2000;
}

.side-navigation.active{
    margin-left: 0px;
    transition: .5s linear;
}

.element.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

.sign-in{
    margin-right: 2px;
    background-color: black;
    color: white;
}

.sign-up{
    margin-right: 2px;
}

.user-name{
    text-align: center;
    padding-top: 3rem;
}

.user-name.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

@media (min-width:640px){
    .side-navigation{
        width: 30%;
    }
    .log{
        display: none;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: auto;
    }
}

@media (min-width:700px){
    .features{
        width: 80%;
        margin: auto;
        margin-top: 5rem;
    }
}

@media (min-width:850px){
    .para{
        width: 70%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .para-h{
        font-size: 2.5rem;
    }
    .features{
        width: 100%;
    }
    .feature-list{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-items: flex-start;
        text-align: center;
    }
    .feature{
        text-align: center;
        width: 30%;
        margin: auto;
    }
    .feature-h{
        font-size: 1.5rem;
    }
    .first-section{
        width: 95%;
        margin-top: -4rem;
    }
    .second-section{
        margin-top: 10rem;
        width: 95%;
    }
    .hero-header{
        font-size: 5rem;
        line-height: 5rem;
    }
    .hero-header-two{
        font-size: 3rem;
        line-height: 4rem;
    }
    .hero-p{
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
    .hero-text{
        width: 50%;
        /* background-color: #41424c; */
    }
    .hero-text-two{
        width: 50%;
    }
    #first{
        width: 50%;
    }
    .second-section{
        display: flex;
    }
    #second{
        width: 50%;
        margin-top: auto;
        /* background-color: antiquewhite; */
    }
    #second-img{
        display: block;
        width: 100%;
    }
    .log{
        display: none;
    }
    .menu{
        display: none;
    }
    .user-name{
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .product{
        width: 22%;
        font-size: 1.2rem;
    }
    .side-navigation{
        width: 25%;
    }
}
@media (min-width:1024px){
    body{
        text-align: center;
    }
    .side-navigation{
        width: 20%;
        position: fixed;
        margin-left: -350px;
    }

    .product{
        width: 24%;
        margin-bottom: 1%;
        font-size: 1.2rem;
    }
    .main-section{
        width: 90%;
    }
}
@media (min-width:1700px){
    body{
        padding: 0 8%;
        text-align: center;
    }
    .side-navigation{
        width: 15%;
        position: fixed;
        margin-left: -650px;
    }
    .first-section{
        /* background-color: aqua; */
    }
    .main-section{
        width: 90%;
    }
    .side-navigation.active{
        transition: 1s linear;
    }
}